{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
    <h1>Evenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evenement.id }}</td>
            </tr>
            <tr>
                <th>NomEvent</th>
                <td>{{ evenement.nomEvent }}</td>
            </tr>

            <tr>
                <th>LieuEvent</th>
                <td>{{ evenement.lieuEvent }}</td>
            </tr>
            <tr>
                <th>TypeEvent</th>
                <td>{{ evenement.typeEvent }}</td>
            </tr>
            <tr>
                <th>DescEvent</th>
                <td>{{ evenement.descEvent }}</td>
            </tr>
            <tr>
                <th>ImageEvent</th>
                <td>{{ evenement.imageEvent }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('evenement_index') }}">back to list</a>

    <a href="{{ path('evenement_edit', {'id': evenement.id}) }}">edit</a>

    {{ include('evenement/delete_form.html.twig') }}
{% endblock %}
